IntegrationPlatform/Core/Toolkit/ConflictManagement/ResolutionRuleDataSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" id="ResolutionRuleDataSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConflictResolutionRule" type="ConflictResolutionRule" />
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:normalizedString">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <!-- The representation of a GUID in registry format -->
  <!-- Taken from: http://msdn.microsoft.com/en-us/library/aa203890(office.11).aspx -->
  <xs:simpleType name="GUID">
    <xs:restriction base="NonEmptyString">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}|{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConflictResolutionRule">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="1" name="RuleReferenceName" type="GUID" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActionReferenceName" type="GUID" />
      <xs:element minOccurs="1" maxOccurs="1" name="RuleDescription" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ApplicabilityScope" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataField" type="DataField" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataField">
    <xs:attribute name="FieldName" type="xs:string" use="required" />
    <xs:attribute name="FieldValue" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>